# pip install -r <this file>
#
#
#
_pytorch_select
adjusttext
geopandas
glib
joblib
jpeg
jsonschema
matplotlib
mkl
nbconvert
numpy
openjpeg
openssl
pandas
postgresql
requests
scikit-learn
scipy
seaborn
shapely
xlrd
zipp
zlib
