# pip install -r <this file>
#
#
#
adjusttext
geopandas
joblib
jpeg
jsonschema
matplotlib
mkl
nbconvert
numpy
openjpeg
openssl
pandas
postgresql
pytorch
requests
scikit-learn
scipy
seaborn
shapely
xlrd
zipp
zlib
